@using AlfrescoWorklog.Models;
@using AlfrescoWorklog.HtmlHelpers;
@model AlfrescoWorklog.Models.ViewModels.ProjectSummaryViewModel
@{
    ViewBag.Title = "Project Summary";
    
}

<h2>Project Summary</h2>

<h3>Running Projects</h3>
<div>
    <div id="error-summary" class="error">@if(!String.IsNullOrEmpty(Model.ErrorMessage)){<span>@Model.ErrorMessage</span>}</div>
    <table class="summary">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project Description</th>
                <th>Alfresco Username</th>
                <th>Windows Login</th>
                <th>Join Project</th>
                <th>Sandpit</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Conflicts</th>
            </tr>
        </thead>

        <tbody>

        @foreach (Project p in Model.RunningProjects)
        {
            <tr>
                <td>@p.name</td>
                <td>@p.description</td>
                <td>@p.AlfrescoUser.name</td>
                <td>@p.WindowsUsers</td>
                <td>@Html.Raw(Html.ImageActionLink("../../Assets/Add.png", "Join Project", "AddUserToProject", new { projectID = p.ID }))</td>
                <td>@p.Sandpit.name</td>
                <td>@p.startTime</td>
                    
                @if (!p.isDeployed)
                {
                    <td>@Html.Raw(Html.ImageActionLink("../../Assets/finish.png", "Finish Project", "FinishProject", new { id = p.ID }))</td>
                }
                else
                {
                    <td>@p.endTime</td>
                }

                <td>   
                @if (p.IsConflicted)
                {
                    
                    @Html.Raw(Ajax.ImageActionLink("../../Assets/error.png", "Conflict", "ShowConflicts", new { id = p.ID }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "results-container",
                        HttpMethod = "GET"
                    }))
                    
                } 
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="table-controls"></div>
</div>


<h3>Completed Projects</h3>
<div>
    <table class="summary">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project Description</th>
                <th>Alfresco Username</th>
                <th>Windows Login</th>
                <th>Sandpit</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Conflicts</th>
            </tr>
        </thead>

        <tbody>

        @foreach (Project p in Model.CompletedProjects)
        {
            <tr>
                <td>@p.name</td>
                <td>@p.description</td>
                <td>@p.AlfrescoUser.name</td>
                <td>@p.WindowsUsers</td>
                <td>@p.Sandpit.name</td>
                <td>@p.startTime</td>
                <td>@p.endTime</td>
       
                <td>   
                @if (p.IsConflicted)
                {
                    
                    @Html.Raw(Ajax.ImageActionLink("../../Assets/error.png", "Conflict", "ShowConflicts", new { id = p.ID }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "results-container",
                        HttpMethod = "GET"
                    }))
                    
                } 
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="table-controls"></div>
</div>

<div id="results-container">
</div>


