@model AlfrescoWorklog.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">startTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startTime)
    </div>

    <div class="display-label">endTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endTime)
    </div>

    <div class="display-label">windowsLogon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.windowsLogon)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.name)
    </div>

    <div class="display-label">Sandpit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sandpit.name)
    </div>

    <div class="display-label">isDeployed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isDeployed)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
